{% extends 'index/base.html' %}
{% block title %}Nurse Register{% endblock %}
{% block header %}Nurse Registration Page{% endblock %}
{% block content %}
    <script>
        function redirect() {
            window.location.href = "{% url 'index:index' %}";
        }

        setTimeout(redirect, 3000); //3000 is equivalent to 3 seconds
    </script>

    <div class="maincontent">
        <div class="whitebox">
            <p>You have been successfully created and nurse account. If you are not redirected in 3 seconds
                <a href="{% url 'index:index' %}">click here.</a></p>
        </div>
    </div>

{% endblock %}
