{% extends 'index/base.html' %}
{% block title %}Create Appointment{% endblock %}
{% block header %}Create Appointment Page{% endblock %}
{% block content %}
<script>
    function redirect(){
       window.location.href = "{% url 'reservation:calendar_now' %}";
    }

    setTimeout(redirect, 3000); //3000 is equivalent to 3 seconds
</script>
<div class="maincontent">
    <div class="whitebox" style="text-align:center;">
        <p>Your appointment has been scheduled. If you are not redirected in 3 seconds
    <a href="{% url 'reservation:calendar_now' %}">click here.</a> </p>
    </div>
</div>

{% endblock %}


