{% extends 'index/base.html' %}
{% block title %}Archive Diagnosis{% endblock %}
{% block header %}Archive Diagnosis{% endblock %}

{% block content %}
<div class="maincontent">
    <div class="whitebox">
        <h1>Warning: This Action is Permanent</h1>
        <p>
            Are you sure you want to archive this diagnosis? It will still be displayed for the patient, but set
            as inactive.
        </p>
        <form method="post">
            {% csrf_token %}
            <div class="parentbutton">
                <div class="leftbutton">
                    <input type="hidden" name="post" value="yes"/>
                    <input type="submit" value="Archive" class="btn btn-default btn-lg inactive"/>
                </div>
                <div class="rightbutton">
                    <a href="{% url 'medical:update_diagnosis' diagnosis.id %}"
                       class="btn btn-default btn-lg inactive" role="button">Back to Diagnosis</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}