{% extends 'index/base.html' %}
{% block title %}Patient Transfer{% endblock %}
{% block header %}Patient Transfer Page{% endblock %}
{% block content %}

<div class="maincontent">
    <div class="whitebox">
        <p>Are you sure you want to transfer this patient to your hospital?</p>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="post" value="yes"/>
            <input type="submit" value="Yes, Transfer" class="btn btn-default btn-lg inactive"/>
            <a href="#" onclick="window.history.back(); return false;" class="btn btn-default btn-lg inactive"
                       role="button">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}