{% extends 'index/base.html' %}
{% block title %}New Account{% endblock %}
{% block header %}Add Account{% endblock %}
{% block login %}
<li><a href="{% url 'account:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
{% endblock %}
{% block content %}


<div class="container" role="main" style="margin-top:75px;">
    <div class="hyper">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-12">
                    <a target="_parent" href="{% url 'account:create_doctor' %}">
                        <button class="iconbutton">
                            <i class="fa fa-user-md" aria-hidden="true"></i>
                            <p style="font-size:20px;">New Doctor</p>
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <a target="_parent" href="{% url 'account:create_nurse' %}">
                        <button class="iconbutton">
                            <i class="fa fa-stethoscope" aria-hidden="true"></i>
                            <p style="font-size:20px;">New Nurse</p></button>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <a target="_parent" href="{% url 'account:create_administrator' %}">

                        <button class="iconbutton">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            <p style="font-size:20px;">New Administrator</p></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
