{% extends 'index/base.html' %}
{% block title %}Home {% endblock %}

{% block content %}

<div class="container" role="main">
        <div class="jumbotron" style="margin-top: 75px;">
            <h1>Welcome to HealthNet!</h1>
            <p> A product intended to improve hospitals by providing an easy mechanism for managing
                employees, gathering statistical data on the inner workings of the hospital, signing up patients, making
                appointments, and allowing ease of transfer of both patients and their information between
                hospitals.</p>
        </div>
        <div class="well">
            <h3>Who we are?</h3>
            <h4>At its core, HealthNet is meant to enable their hospitals in the US to be able to manage both employees
                and patients. The successful implementation should make it easy for users to effortlessly sign-up as
                patients so that the hospital can, without difficulty, manage their procedures and patient related
                tasks to optimize day-to-day work-flow.</h4>
            <h4>We want a product whose emphasis is on ease of use, whose navigation is straightforward and
                where the status of any, and all, information shown is clearly displayed. Ultimately, a system
                where understanding and communication about hospital and patient matters is improved.</h4>
        </div>
</div>

{% endblock %}