{% extends 'index/base.html' %}
{% block title %}Patients{% endblock %}
{% block header %}List of Patients{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <div id="jumbo" class="jumbotron">
            <h2 style="text-align:center;">Patients in {{ hospital }}</h2>
            {% for patient in patient_list %}
            <p><a href="{% url 'medical:view_medical_information' patient.id %}">{{ patient.user.first_name }}
                {{ patient.user.last_name }}</a></p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}