{% extends 'index/base.html' %}
{% block title %}System Information{% endblock %}
{% block header %}System Information Page{% endblock %}
{% block login %}
<li><a href="{% url 'account:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
{% endblock %}
{% block content %}


<div class="container" role="main" style="margin-top:75px;">
    <div class="hyper">
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <div class="col-md-12">
                    <a target="_parent" href="{% url 'hospital:statistics' %}">
                        <button class="iconbutton">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            <p style="font-size:20px;">Statistics</p>
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <a target="_parent" href="{% url 'hospital:log' %}">
                        <button class="iconbutton">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                            <p style="font-size:20px;">View System Information</p>
                        </button>
                    </a>
                </div>
        </div>
    </div>
</div>

{% endblock %}